@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sora";
  src: url("assets/fonts/Sora-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("assets/fonts/Sora-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/SpaceGrotesk-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/SpaceGrotesk-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
